.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.form-control input[type="text"] {
  border: 1px solid rgb(72, 72, 72);
}
.form-control textarea {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 1rem;
  resize: none;
  padding: 1rem 1rem;
}
.form-control button {
  margin: auto;
  width: 100%;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid rgb(72, 72, 72);
  background-color: #fefefe;
  transition: all 0.2s;
}
.form-control button:hover {
  background-color: rgb(49, 49, 49);
  color: #fefefe;
}
.form-control label {
  width: 20%;
}
