.index-header {
  height: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.index-main {
  height: 85%;
}
.index-header h1 {
  background-color: #192329;
  text-align: center;
  height: 100%;
  color: white;
  vertical-align: middle;
}
#cards-wrapper {
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  padding-inline: 8%;
  justify-content: space-evenly;
  gap: 5%;
  flex-wrap: wrap;
}
