.form-control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form-control input[type="text"] {
  border: 1px solid rgb(72, 72, 72);
  flex-basis: 0;
  flex-grow: 999;
  min-width: 80%;
  border-radius: 0.5rem;
}
.form-control textarea {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 1rem;
  resize: none;
  padding: 1rem 1rem;
}
.form-control button {
  margin: auto;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  color: rgb(72, 72, 72);
  border: 1px solid rgb(72, 72, 72);
  background-color: #fefefe;
  transition: all 0.2s;
  border-radius: 0.5rem;
}
.form-control button:focus {
  background-color: rgb(72, 72, 72);
  color: white;
}
.form-control button:hover {
  background-color: rgb(49, 49, 49);
  color: #fefefe;
}
.form-control label {
  flex-grow: 1;
  flex-basis: 100px;
  white-space: nowrap;
}
