@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Nerko+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: "Kanit", sans-serif;
  color: #fff;
}
body {
  background: linear-gradient(to top, #192329 85%, rgb(113, 136, 113) 15%)
    no-repeat;
}
#root {
  height: 100%;
  width: 100%;
}
